body{
    padding-top: 50px;
}
footer{
    margin: 50px 0 ;
}

table{
    width: 90%;
    background: lightgray;
   
}
table th{
    text-align: center;
    font-size: 16px;
}
table td{
    font-style: italic;
}
