body{
    padding-top: 50px;
    background: url("../../img.jpg");
}

footer{
    margin: 50px 0 ;
}

table{
    width: 100%;
    background: lightgray;
   
}
table th{
    text-align: center;
    font-size: 16px;
}
table td{
    font-style: italic;
    text-align: center;
}

.img-thumbnail{
    width: 100px;
    height: 100px;
}
.hauteur {
  min-height: 80hv;
  margin-top: 90px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .suggimg{

    width: 300px;
    height: 300px;
  }
  .CG{
    font-family: 'Lucida Sans';
    font-size: 24px;
  }
  .CD{
      background: lightgray;
  }
  .CDTR{
      background: white;
  }